.features-page .subMainHeading {
  text-align: center;
}

.features-page .sub_main_description {
  text-align: center;
}

.list_of_features {
  gap: 30px 0;
}

.feature_svg {
  width: 80%;
  max-width: 150px;
}
