header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  min-height: calc(50px + 5vw);
  margin: 0 auto;
  background-color: #ffffffa3;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.primary_navigation {
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: var(--border_r);
  gap: 10px 30px;
  justify-content: space-between;
}

.dropDownBtn {
  display: none;
  opacity: 0;
  background-color: var(--primary-color);
  border-radius: var(--border_r);
  padding: 10px 15px;
}

.logIn-and-SignUp {
  gap: 10px;
}

:is(.logInBtn, .signUpBtn) {
  padding: 10px;
  border-radius: var(--border_r);
  text-wrap: nowrap;
}

.logInBtn {
  background-color: var(--primary-color_4);
}

.signUpBtn {
  background-color: var(--primary-color_3);
  color: #fff;
}

.hamburgerBtn {
  display: none;
  width: 20px;
}

@media (max-width: 970px) {
  header {
    gap: 10px;
  }

  .primary-navigation_and_dropDownBtn {
    justify-content: flex-end;
    width: 70%;
  }

  .primary_navigation {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 85px;
    flex-direction: column;
    align-items: flex-start;
  }

  .primary_navigation.view {
    opacity: 1;
    pointer-events: auto;
  }

  .dropDownBtn {
    display: initial;
    opacity: 1;
  }

  .dropDownBtn > * {
    pointer-events: none;
  }
}

@media (max-width: 750px) {
  header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .primary-navigation_and_dropDownBtn {
    width: 0;
  }

  .hamburgerBtn {
    display: initial;
    width: 50px;
  }

  .hamburgerSvg {
    width: 30px;
    pointer-events: none;
  }

  .primary_navigation {
    top: 65px;
    left: 0;
    right: 0;
  }

  .logIn-and-SignUp {
    top: 85px;
    opacity: 0;
    pointer-events: none;
    right: 15px;
    position: absolute;
    flex-direction: column;

    border-radius: var(--border_r);
  }

  .logIn-and-SignUp.view {
    opacity: 1;
    pointer-events: auto;
  }
  .dropDownBtn {
    display: none;
  }
}
