header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  min-height: calc(50px + 5vw);
  background-color: #ffffffa3;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.main-logo {
  cursor: pointer;
}

.primary_navigation {
  background-color: var(--primary-color);
  padding: 0 10px;
  border-radius: var(--border_r);
  gap: 10px 0;
  /* justify-content: space-between; */
}

.primary-dropDownBtn {
  display: none;
  opacity: 0;
  background-color: var(--primary-color);
  border-radius: var(--border_r);
  padding: 10px 15px;
}

[data-dropDown] {
  position: relative;
  display: flex;
  padding: 0 10px;

  min-height: 45px;
}

/* Drop Down Icon */
[data-dropdown-button]::after {
  content: "";
  display: inline-block;
  background-image: url("Drop-Down-Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  min-height: 20px;
}

/* The Drop Down Menu */

[data-dropDownMenu] {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  opacity: 0;
  pointer-events: none;
}

/* [data-dropDownMenu]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  display: inline-block;
  background-color: black;
  width: 100%;
  min-height: 10px;
} */

[data-dropDownMenu].active {
  opacity: 1;
  pointer-events: auto;
}

[data-dropDownMenu="Product"] {
  background-color: var(--primary-color_3);
  padding: 10px 15px;

  border-radius: var(--border_r);
  z-index: 2;
}

.switch_to_page {
  gap: 10px;
  align-items: center;
}

.switch_to_page * {
  pointer-events: none;
}

.switch_to_page + .switch_to_page {
  margin-top: 7px;
}

.switch_to_page:hover {
  color: #fff;
}

.page_icon {
  width: 50px;
}

.logIn-and-SignUp {
  gap: 10px;
}

:is(.logInBtn, .signUpBtn) {
  padding: 10px;
  border-radius: var(--border_r);
  text-wrap: nowrap;
}

.logInBtn {
  background-color: var(--primary-color_4);
}

.signUpBtn {
  background-color: var(--primary-color_3);
  color: #fff;
}

.hamburgerBtn {
  display: none;
  width: 20px;
}

@media (max-width: 970px) {
  header {
    gap: 10px;
  }

  .primary-navigation_and_dropDownBtn {
    justify-content: flex-end;
    width: 70%;
  }

  .primary_navigation {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 85px;
    flex-direction: column;

    align-items: center;
  }

  .primary_navigation.view {
    opacity: 1;
    pointer-events: auto;
  }

  .primary-dropDownBtn {
    display: initial;
    opacity: 1;
  }

  /* Drop Down Icon */
  [data-dropdown-button]::after {
    transform: rotate(90deg);
    transition: transform 500ms;
  }

  [data-dropDownMenu] {
    top: 0;
    right: calc(100% + 5vw);
  }

  .primary-dropDownBtn > * {
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .primary-navigation_and_dropDownBtn {
    width: 0;
  }

  .hamburgerBtn {
    display: initial;
    width: 50px;
  }

  .hamburgerSvg {
    width: 30px;
    pointer-events: none;
  }

  .primary_navigation {
    left: 10px;
  }

  /* Drop Down Icon */
  [data-dropdown-button]::after {
    transform: rotate(-90deg);
    transition: transform 500ms;
  }

  [data-dropDownMenu] {
    top: 0;
    right: auto;
    left: calc(100% + 6vw);
  }

  .logIn-and-SignUp {
    top: 300px;
    opacity: 0;
    pointer-events: none;

    position: absolute;
    background-color: var(--primary-color);
    padding: 10px 15px;
    /* flex-direction: column; */

    border-radius: var(--border_r);
  }

  .logIn-and-SignUp.view {
    opacity: 1;
    pointer-events: auto;
  }
  .primary-dropDownBtn {
    display: none;
  }
}
