.home-page {
  position: relative;
}

.main_intros {
  text-align: center;
}

.main_intros h1 {
  width: min(80%, 650px);
  margin: 0 auto;
  font-size: clamp(0.8rem, 6vw, 3rem);
  font-weight: 400;
}

.main_background {
  background-image: url("Desktop-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 25% 0;
  min-height: 420px;
  /* border: 1px solid red; */
}

.opening_description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  /* border: 1px solid red; */
  max-width: 250px;
}

button.learn_More {
  margin-top: 15px;
  background-color: var(--primary-color_2);
  padding: 10px 7px;
  color: #fff;
}

@media (max-width: 1083px) {
  .main_background {
    background-image: url("Mobile-bg.svg");
  }
}

@media (max-width: 900px) {
  .main_background {
    background-position: center;
  }

  .opening_description {
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    max-width: 350px;
    text-align: center;
  }
}
