.first_section {
  position: relative;
}

.main_intros {
  text-align: center;
}

.main_intros h1 {
  width: min(80%, 650px);
  margin: 0 auto;
  font-size: clamp(0.8rem, 6vw, 3rem);
  font-weight: 400;
}

.main_background {
  background-image: url("Desktop-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 25% 0;
  min-height: 420px;
}

.opening_description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  /* border: 1px solid red; */
  max-width: 250px;
}

button.learn_More {
  margin-top: 15px;
  background-color: var(--primary-color_2);
  padding: 10px 7px;
  color: #fff;
}

.subHeading {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(0.7rem, 5vw, 2rem);
}

.task_block_sample {
  justify-content: center;
  gap: 10vw;
}

.robot_svg {
  width: 250px;
}

.task_block_layout {
  min-height: 300px;
}

.task_info {
  text-align: center;
  width: 50%;
}

.task_type {
  font-weight: 500;
}

.block {
  border: 2px solid #000;
  width: 350px;
  min-height: 120px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.task_connector {
  background-image: url("Task Connector.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60px;
}

.app__icon_svg {
  width: 70px;
}

@media (max-width: 1083px) {
  .main_background {
    background-image: url("Mobile-bg.svg");
  }
}

@media (max-width: 900px) {
  .main_background {
    background-position: center;
  }

  .opening_description {
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    max-width: 350px;
    text-align: center;
  }

  .second_section .robot_image {
    display: none;
  }
}

@media (max-width: 406px) {
  .opening_description {
    left: auto;
    transform: translateX(0);
  }
}
